{% extends "govuk-prototype-kit/layouts/unbranded.html" %}

{% block pageTitle %}
{{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/header-mobile.njk" %}
{% endblock %}

{% block content %}


<div class="govuk-width-container">
    <div class="govuk-phase-banner">
        <p class="govuk-phase-banner__content">
            <strong class="govuk-tag govuk-phase-banner__content__tag ">
                beta
            </strong>
            <span class="govuk-phase-banner__text">
                Help us make this service better for you
                <a href=https://crowncommercial.qualtrics.com/jfe/form/SV_b2hqVz3TYDCxN2u>Give feedback on how we can
                    improve this service.</a>
            </span>
        </p>

    </div>
</div>


<div class="govuk-width-container">

    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="/">Home</a>
            </li>
            <li class="govuk-breadcrumbs__list-item" aria-current="page">
                About Crown Commercial Service
            </li>
        </ol>
    </div>

</div>


<!-- required wrapper 2 -->
<main id="main-content" role="main" class="govuk-main-wrapper" data-template="">

    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                <h1 class="govuk-heading-xl page-title page-title--tight">About Crown Commercial Service</h1>

                <p class="govuk-body-l">We help the UK public sector get the best value when buying products and
                    services.</p>
            </div>
        </div>
    </div>



    <div class="page-components">


        <div class="component intro_and_description">
            <div class="govuk-width-container">
                <div class="govuk-grid-row ccs-grid-row--loose">
                    <div class="govuk-grid-column-one-half">

                        <h2 class="govuk-heading-m intro__heading">Who we are</h2>

                        <div class="wysiwyg-content intro__content">
                            <p>Crown Commercial Service (CCS) is the UK’s biggest public procurement organisation and an
                                executive agency of the Cabinet Office.</p>
                            <p>We are procurement experts, helping the public sector maximise every pound so precious
                                resources can go where they’re needed most.</p>
                            <p>Our service is free for the UK public sector, where buyers can access everything from
                                temporary staff and energy, to laptops and police cars.</p>

                        </div>


                        <div class="call-to-action--compact">

                            <a href="https://www.crowncommercial.gov.uk/downloadable-resource/request/30384/commercial-agreements-digital-brochure"
                                class="govuk-button">Read our digital brochure</a>


                        </div>


                    </div>

                    <div class="govuk-grid-column-one-half">


                        <figure class="image-wrapper">
                            <picture class="">
                                <source media="(max-width: 768px)" srcset="">
                                <source media="(min-width: 1024px)" srcset="">
                                <source media="(min-width: 1920px)"
                                    srcset="https://assets.crowncommercial.gov.uk/wp-content/uploads/Studio-Session-407-17-2.jpg">
                                <img src="https://assets.crowncommercial.gov.uk/wp-content/uploads/Studio-Session-407-17-2.jpg"
                                    role="presentation" class="" loading="lazy" alt="">
                            </picture>
                            <figcaption class="intro__caption govuk-!-font-size-16 ccs-secondary-text-color">

                            </figcaption>
                        </figure>


                    </div>

                </div>
            </div>
        </div>



        <div class="component intro_and_description">
            <div class="govuk-width-container">
                <div class="govuk-grid-row ccs-grid-row--loose">

                    <div class="govuk-grid-column-one-half">


                        <figure class="image-wrapper">
                            <picture class="">
                                <source media="(max-width: 768px)"
                                    srcset="https://assets.crowncommercial.gov.uk/wp-content/uploads/JOE_6180-33-768x513.jpg">
                                <source media="(min-width: 1024px)"
                                    srcset="https://assets.crowncommercial.gov.uk/wp-content/uploads/JOE_6180-33-1024x683.jpg">
                                <source media="(min-width: 1920px)"
                                    srcset="https://assets.crowncommercial.gov.uk/wp-content/uploads/JOE_6180-33-scaled-e1725882984937.jpg">
                                <img src="https://assets.crowncommercial.gov.uk/wp-content/uploads/JOE_6180-33-scaled-e1725882984937.jpg"
                                    role="presentation" class="" loading="lazy" alt="">
                            </picture>
                            <figcaption class="intro__caption govuk-!-font-size-16 ccs-secondary-text-color">

                            </figcaption>
                        </figure>

                    </div>

                    <div class="govuk-grid-column-one-half">

                        <h2 class="govuk-heading-m intro__heading">What we do</h2>

                        <div class="wysiwyg-content intro__content">
                            <p><span style="font-weight: 400;">We help our customers achieve their procurement goals. We
                                    do this by creating strategic partnerships and competition among suppliers.</span>
                            </p>
                            <p><span style="font-weight: 400;">With our expertise, we can help you:</span></p>
                            <ul>
                                <li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">stay
                                        compliant with </span><a
                                        href="https://www.gov.uk/guidance/public-sector-procurement-policy"><span
                                            style="font-weight: 400;">procurement regulations</span></a></li>
                                <li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">save
                                        time</span></li>
                                <li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">get better
                                        value for money</span></li>
                                <li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">reach
                                    </span><a
                                        href="https://www.crowncommercial.gov.uk/social-value/what-is-social-value"><span
                                            style="font-weight: 400;">social value</span><span
                                            style="font-weight: 400;"> goals</span></a></li>
                            </ul>
                            <p><span style="font-weight: 400;">In 2023/24, our customers achieved commercial benefits
                                    equal to </span><b>£4.9 billion.</b><span style="font-weight: 400;"> Commercial
                                    benefits include factors such as cost savings and reaching carbon net zero
                                    targets.</span></p>
                        </div>

                    </div>

                </div>
            </div>
        </div>


        <div class="component cards">
            <div class="govuk-width-container">
                <div class="--greyed-bg">
                    <div class="govuk-grid-row ccs-grid-row--loose">

                        <div class="govuk-grid-column-full">


                            <ul class="card-list govuk-!-margin-top-6 card-list--two-on-large">

                                <li class="card-list__item">
                                    <div class="card-list__item__wrapper">

                                        <h3 class="govuk-heading-m">Products and services</h3>

                                        <div class="wysiwyg-content">
                                            <p>From everyday supplies to more complex services, discover what you can
                                                buy through CCS agreements.</p>
                                            <p><a href="https://www.crowncommercial.gov.uk/products-and-services">Learn
                                                    about the products and services you can buy.</a></p>
                                        </div>

                                    </div>
                                </li>
                                <li class="card-list__item">
                                    <div class="card-list__item__wrapper">

                                        <h3 class="govuk-heading-m">Information for buyers and suppliers</h3>

                                        <div class="wysiwyg-content">
                                            <p data-block-id="656615f0-de2e-4de7-afbe-e04a1c90510b"
                                                data-pm-slice="1 1 []">Whether you want to start buying or supplying
                                                through CCS, we&#8217;re here to help you start your journey.</p>
                                            <p data-block-id="656615f0-de2e-4de7-afbe-e04a1c90510b"
                                                data-pm-slice="1 1 []"><a
                                                    href="https://www.crowncommercial.gov.uk/information-for-buyers-and-suppliers">Information
                                                    for buyers and suppliers.</a></p>
                                        </div>

                                    </div>
                                </li>
                                <li class="card-list__item">
                                    <div class="card-list__item__wrapper">

                                        <h3 class="govuk-heading-m">Careers at CCS</h3>

                                        <div class="wysiwyg-content">
                                            <p>Are you interested in joining an industry leading organisation? Learn
                                                about our teams and career opportunities.</p>
                                            <p><a href="https://www.crowncommercial.gov.uk/careers-with-ccs">Learn more
                                                    about careers at CCS.</a></p>
                                        </div>

                                    </div>
                                </li>
                                <li class="card-list__item">
                                    <div class="card-list__item__wrapper">

                                        <h3 class="govuk-heading-m">Contact us</h3>

                                        <div class="wysiwyg-content">
                                            <p>If you can&#8217;t find what you&#8217;re looking for, we are here to
                                                help. Ask us a question or leave us feedback.</p>
                                            <p><a href="https://www.crowncommercial.gov.uk/contact">Contact us.</a></p>
                                        </div>

                                    </div>
                                </li>

                            </ul>


                        </div>

                    </div>
                </div>
            </div>
        </div>


        <div class="component feature-news">

            <div class="govuk-width-container">

                <h2 class="govuk-heading-l">Latest CCS news</h2>

                <ol class="featured-news news-listing">
                    <li class="feature-news__item news-listing__item">
                        <picture>
                            <a href="/news/crown-commercial-service-and-nhs-england-celebrate-3-years-of-transforming-nhs-infrastructure"
                                aria-hidden="true" class="news-listing__item__image-link" tabindex="-1">

                                <!--[if IE 9]>
                            <video style="display: none;>
                                                            <![endif]-->
                                <source media="(max-width: 320px)"
                                    srcset="https://assets.crowncommercial.gov.uk/wp-content/uploads/Hospital-corridor-with-female-nurse-pushing-patient-in-wheelchair-and-moe-NHS-staff-in-background-320x213.jpg"
                                    data-srcset="https://assets.crowncommercial.gov.uk/wp-content/uploads/Hospital-corridor-with-female-nurse-pushing-patient-in-wheelchair-and-moe-NHS-staff-in-background-320x213.jpg">

                                <source media="(max-width: 768px)"
                                    srcset="https://assets.crowncommercial.gov.uk/wp-content/uploads/Hospital-corridor-with-female-nurse-pushing-patient-in-wheelchair-and-moe-NHS-staff-in-background-640x427.jpg"
                                    data-srcset="https://assets.crowncommercial.gov.uk/wp-content/uploads/Hospital-corridor-with-female-nurse-pushing-patient-in-wheelchair-and-moe-NHS-staff-in-background-640x427.jpg">

                                <!--[if IE 9]></video><![endif]-->
                                <!-- Fallback -->
                                <img src="https://assets.crowncommercial.gov.uk/wp-content/uploads/Hospital-corridor-with-female-nurse-pushing-patient-in-wheelchair-and-moe-NHS-staff-in-background-640x427.jpg"
                                    alt="Hospital corridor with female nurse pushing patient in wheelchair and more NHS staff in background"
                                    role="presentation" aria-hidden="true" tabindex="-1">

                            </a>
                        </picture>

                        <div class="feature-news__item__details news-listing__item__caption">
                            <div class="news-listing-meta">
                                News and blogs | 22nd May 2025
                            </div>
                            <h2 class="news-listing-title">
                                <a
                                    href="/news/crown-commercial-service-and-nhs-england-celebrate-3-years-of-transforming-nhs-infrastructure">Crown
                                    Commercial Service and NHS England celebrate 3 years of transforming NHS
                                    infrastructure</a>
                            </h2>

                            <p class="news-listing-summary">
                                Hospital extensions and emergency care departments are among billions of pounds worth of
                                healthcare building projects completed through a collaboration between CCS and NHS
                                England over 3 years
                            </p>

                            <a
                                href="/news/crown-commercial-service-and-nhs-england-celebrate-3-years-of-transforming-nhs-infrastructure">Read
                                more <span class="visuallyhidden">about Crown Commercial Service and NHS England
                                    celebrate 3 years of transforming NHS infrastructure</span></a>

                        </div>
                    </li>
                    <li class="feature-news__item news-listing__item">
                        <picture>
                            <a href="/news/call-for-evaluators-for-the-latest-iteration-of-the-facilities-management-and-security-services-agreement"
                                aria-hidden="true" class="news-listing__item__image-link" tabindex="-1">

                                <!--[if IE 9]>
                            <video style="display: none;>
                                                            <![endif]-->
                                <source media="(max-width: 320px)"
                                    srcset="https://assets.crowncommercial.gov.uk/wp-content/uploads/GettyImages-487701789-1-320x213.jpg"
                                    data-srcset="https://assets.crowncommercial.gov.uk/wp-content/uploads/GettyImages-487701789-1-320x213.jpg">

                                <source media="(max-width: 768px)"
                                    srcset="https://assets.crowncommercial.gov.uk/wp-content/uploads/GettyImages-487701789-1-640x427.jpg"
                                    data-srcset="https://assets.crowncommercial.gov.uk/wp-content/uploads/GettyImages-487701789-1-640x427.jpg">

                                <source media="(max-width: 1280px)"
                                    srcset="https://assets.crowncommercial.gov.uk/wp-content/uploads/GettyImages-487701789-1-1200x853.jpg"
                                    data-srcset="https://assets.crowncommercial.gov.uk/wp-content/uploads/GettyImages-487701789-1-1200x853.jpg">
                                <!--[if IE 9]></video><![endif]-->
                                <!-- Fallback -->
                                <img src="https://assets.crowncommercial.gov.uk/wp-content/uploads/GettyImages-487701789-1-640x427.jpg"
                                    alt="" role="presentation" aria-hidden="true" tabindex="-1">

                            </a>
                        </picture>

                        <div class="feature-news__item__details news-listing__item__caption">
                            <div class="news-listing-meta">
                                News and blogs | 14th May 2025
                            </div>
                            <h2 class="news-listing-title">
                                <a
                                    href="/news/call-for-evaluators-for-the-latest-iteration-of-the-facilities-management-and-security-services-agreement">Call
                                    for evaluators for the latest iteration of the Facilities Management and Security
                                    Services agreement</a>
                            </h2>

                            <p class="news-listing-summary">
                                Get involved in developing our new Facilities Management and Security Services
                                agreement.
                            </p>

                            <a
                                href="/news/call-for-evaluators-for-the-latest-iteration-of-the-facilities-management-and-security-services-agreement">Read
                                more <span class="visuallyhidden">about Call for evaluators for the latest iteration of
                                    the Facilities Management and Security Services agreement</span></a>

                        </div>
                    </li>
                    <li class="feature-news__item news-listing__item">
                        <picture>
                            <a href="/news/ccs-recognised-for-providing-high-quality-public-service" aria-hidden="true"
                                class="news-listing__item__image-link" tabindex="-1">

                                <!--[if IE 9]>
                            <video style="display: none;>
                                                            <![endif]-->
                                <source media="(max-width: 320px)"
                                    srcset="https://assets.crowncommercial.gov.uk/wp-content/uploads/shutterstock_712414813-1-320x213.jpg"
                                    data-srcset="https://assets.crowncommercial.gov.uk/wp-content/uploads/shutterstock_712414813-1-320x213.jpg">

                                <source media="(max-width: 768px)"
                                    srcset="https://assets.crowncommercial.gov.uk/wp-content/uploads/shutterstock_712414813-1-640x427.jpg"
                                    data-srcset="https://assets.crowncommercial.gov.uk/wp-content/uploads/shutterstock_712414813-1-640x427.jpg">

                                <source media="(max-width: 1280px)"
                                    srcset="https://assets.crowncommercial.gov.uk/wp-content/uploads/shutterstock_712414813-1-1280x853.jpg"
                                    data-srcset="https://assets.crowncommercial.gov.uk/wp-content/uploads/shutterstock_712414813-1-1280x853.jpg">
                                <!--[if IE 9]></video><![endif]-->
                                <!-- Fallback -->
                                <img src="https://assets.crowncommercial.gov.uk/wp-content/uploads/shutterstock_712414813-1-640x427.jpg"
                                    alt="A member of a call centre helping a customer" role="presentation"
                                    aria-hidden="true" tabindex="-1">

                            </a>
                        </picture>

                        <div class="feature-news__item__details news-listing__item__caption">
                            <div class="news-listing-meta">
                                News and blogs | 6th May 2025
                            </div>
                            <h2 class="news-listing-title">
                                <a href="/news/ccs-recognised-for-providing-high-quality-public-service">CCS recognised
                                    for providing high quality public service</a>
                            </h2>

                            <p class="news-listing-summary">
                                CCS achieves ‘Best’ rating in Commercial Continuous Improvement Assessment
                            </p>

                            <a href="/news/ccs-recognised-for-providing-high-quality-public-service">Read more <span
                                    class="visuallyhidden">about CCS recognised for providing high quality public
                                    service</span></a>

                        </div>
                    </li>
                </ol>


                <p><a
                        href=https://www.crowncommercial.gov.uk/news/?&amp;categories=29,188,26,168&amp;sectors=150,111,112,133,113,115,114,116,170,117>View
                        more news</a></p>

            </div>

        </div>


    </div>


    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                <div class="app-c-print-link">
                    <button onclick="window.print();" type="button" class="app-c-print-link__link" rel="alternate">
                        Print this page
                    </button>
                </div>

            </div>
        </div>
    </div>


    <div class="apollo-island apollo-island--emphasised">
        <div class="govuk-width-container">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-half">
                    <h2 class="visuallyhidden">You might also be interested in:</h2>
                    <div class="apollo-call-to-action apollo-call-to-action--aggregation">
                        <h3 class="govuk-heading-m">Information for buyers and suppliers</h3>
                        <p>Find helpful information to help you start buying or supplying.</p>
                        <p><a href="https://www.crowncommercial.gov.uk/information-for-buyers-and-suppliers/">Find
                                information for buying and supplying.</a>
                        </p>
                    </div>
                </div>
                <div class="govuk-grid-column-one-half">
                    <h2 class="visuallyhidden">You might also be interested in:</h2>
                    <div class="apollo-call-to-action apollo-call-to-action--help">
                        <h3 class="govuk-heading-m">Glossary </h3>
                        <p>Find explanations for common terms and abbreviations used in public procurement.</p>
                        <p><a href="https://www.crowncommercial.gov.uk/glossary">Explore our glossary.</a>
                        </p>
                    </div>
                </div>
            </div>
            <div>
            </div>

</main>
<script>


    document.querySelectorAll('input[name="00Nb0000009IXEg"]').forEach((option) => {
        option.addEventListener("change", function (event) {
            if (event.target.value == "Yes") {
                setPhoneTextOptional(false);
            } else
                setPhoneTextOptional(true);
        });
    });

    function setPhoneTextOptional(toggle) {
        if (toggle) {
            document.getElementById("phone-label").textContent = "Telephone number (optional)";
        } else {
            document.getElementById("phone-label").textContent = "Telephone number";
        }
        if (document.getElementById("callback-1").checked) {
            document.getElementById("phone-label").textContent = "Telephone number";
        }
    }
</script>
</div>

<script>pushToDataLayer({ 'event': 'page_view', 'page_referrer': window.location.href });</script>


{% endblock %}

{% block footer %}
{% include "includes/footer-js-beta.njk" %}
{% endblock %}