{% extends "govuk-prototype-kit/layouts/unbranded.html" %}

{% block pageTitle %}
{{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/header-mobile.njk" %}
{% endblock %}

{% block content %}

<div class="govuk-width-container">
    <div class="govuk-phase-banner">
        <p class="govuk-phase-banner__content">
            <strong class="govuk-tag govuk-phase-banner__content__tag ">
                beta
            </strong>
            <span class="govuk-phase-banner__text">
                Help us make this service better for you
                <a href=https://crowncommercial.qualtrics.com/jfe/form/SV_b2hqVz3TYDCxN2u>Give feedback on how we can
                    improve this service.</a>
            </span>
        </p>

    </div>
</div>




<div class="govuk-width-container">

    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="/">Home</a>
            </li>
            <li class="govuk-breadcrumbs__list-item" aria-current="page">
                Information for buyers and suppliers
            </li>
        </ol>
    </div>

</div>


<!-- required wrapper 2 -->
<main id="main-content" role="main" class="govuk-main-wrapper" data-template="page-templates/landing.php">




    <div class="page-components">

        <div class="component cards">
            <div class="govuk-width-container">
                <div class="--greyed-bg">
                    <div class="govuk-grid-row ccs-grid-row--loose">

                        <div class="govuk-grid-column-full">

                            <div class="govuk-grid-column-two-thirds">

                                <h2 class="govuk-heading-l intro__heading">Information for new buyers and suppliers</h2>

                            </div>

                            <ul class="card-list govuk-!-margin-top-6 card-list--two-on-large">

                                <li class="card-list__item">
                                    <div class="card-list__item__wrapper">

                                        <h3 class="govuk-heading-m">How to supply</h3>

                                        <div class="wysiwyg-content">
                                            <p><a
                                                    href="https://www.crowncommercial.gov.uk/information-for-buyers-and-suppliers/start-supplying"><span
                                                        style="font-weight: 400;">Learn how to sell goods and services
                                                        to UK public sector buyers.</span></a></p>
                                        </div>

                                    </div>
                                </li>
                                <li class="card-list__item">
                                    <div class="card-list__item__wrapper">

                                        <h3 class="govuk-heading-m">How to buy</h3>

                                        <div class="wysiwyg-content">
                                            <p><a
                                                    href="https://www.crowncommercial.gov.uk/information-for-buyers-and-suppliers/start-buying"><span
                                                        style="font-weight: 400;">Learn how to buy goods and services
                                                        from suppliers in the private sector.</span></a></p>
                                        </div>

                                    </div>
                                </li>
                                <li class="card-list__item">
                                    <div class="card-list__item__wrapper">

                                        <h3 class="govuk-heading-m">Supplier marketing toolkit</h3>

                                        <div class="wysiwyg-content">
                                            <p><a
                                                    href="https://assets.crowncommercial.gov.uk/wp-content/uploads/7753-25-Supplier-marketing-toolkit.pdf"><span
                                                        style="font-weight: 400;">Use this toolkit to find out how to
                                                        promote your position as a CCS supplier.</span></a></p>
                                        </div>

                                    </div>
                                </li>
                                <li class="card-list__item">
                                    <div class="card-list__item__wrapper">

                                        <h3 class="govuk-heading-m">Glossary</h3>

                                        <div class="wysiwyg-content">
                                            <p><a id="glossaryFromBuyAndSupply"
                                                    href="https://www.crowncommercial.gov.uk/glossary">Find explanations
                                                    for common terms and abbreviations used in public procurement.</a>
                                            </p>
                                        </div>

                                    </div>
                                </li>

                            </ul>


                        </div>

                    </div>
                </div>
            </div>
        </div>
















        <div class="component cards">
            <div class="govuk-width-container">
                <div class="--greyed-bg">
                    <div class="govuk-grid-row ccs-grid-row--loose">

                        <div class="govuk-grid-column-full">

                            <h2 class="govuk-heading-l intro__heading">Navigating public procurement </h2>

                            <ul class="card-list govuk-!-margin-top-6 card-list--two-on-large">

                                <li class="card-list__item">
                                    <div class="card-list__item__wrapper">

                                        <h3 class="govuk-heading-m">Procurement Essentials </h3>

                                        <div class="wysiwyg-content">
                                            <p><span style="font-weight: 400;">A series of articles to help you overcome
                                                    common hurdles and understand key concepts of public procurement.
                                                </span><a
                                                    href="https://www.crowncommercial.gov.uk/news/?&amp;categories=168&amp;page=1"><span
                                                        style="font-weight: 400;">Read our procurement
                                                        articles.</span></a></p>
                                        </div>

                                    </div>
                                </li>
                                <li class="card-list__item">
                                    <div class="card-list__item__wrapper">

                                        <h3 class="govuk-heading-m">Social value</h3>

                                        <div class="wysiwyg-content">
                                            <p><a href="https://www.crowncommercial.gov.uk/social-value/"><span
                                                        style="font-weight: 400;">Find out how our commercial agreements
                                                        can help you achieve your social value and sustainability
                                                        ambitions.</span></a></p>
                                        </div>

                                    </div>
                                </li>
                                <li class="card-list__item">
                                    <div class="card-list__item__wrapper">

                                        <h3 class="govuk-heading-m">Transforming Public Procurement </h3>

                                        <div class="wysiwyg-content">
                                            <p><a
                                                    href="https://www.crowncommercial.gov.uk/information-for-buyers-and-suppliers/transforming-public-procurement/">Prepare
                                                    your organisation for Transforming Public Procurement.</a></p>
                                        </div>

                                    </div>
                                </li>
                                <li class="card-list__item">
                                    <div class="card-list__item__wrapper">

                                        <h3 class="govuk-heading-m">Commercial Insider </h3>

                                        <div class="wysiwyg-content">
                                            <p><a
                                                    href="https://www.crowncommercial.gov.uk/information-for-buyers-and-suppliers/commercial-insider/">Hear
                                                    from leaders in the government commercial profession about the key
                                                    themes and debates in public procurement right now.</a></p>
                                        </div>

                                    </div>
                                </li>

                            </ul>


                        </div>

                    </div>
                </div>
            </div>
        </div>













        <div class="component feature-news">
        </div>












    </div>



    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <div class="wysiwyg-content">




                </div>
            </div>
        </div>
    </div>






    </div>
    </div>










    <div class="govuk-width-container">


    </div>


</main>
<script>


    document.querySelectorAll('input[name="00Nb0000009IXEg"]').forEach((option) => {
        option.addEventListener("change", function (event) {
            if (event.target.value == "Yes") {
                setPhoneTextOptional(false);
            } else
                setPhoneTextOptional(true);
        });
    });

    function setPhoneTextOptional(toggle) {
        if (toggle) {
            document.getElementById("phone-label").textContent = "Telephone number (optional)";
        } else {
            document.getElementById("phone-label").textContent = "Telephone number";
        }
        if (document.getElementById("callback-1").checked) {
            document.getElementById("phone-label").textContent = "Telephone number";
        }
    }
</script>
</div>

<script>pushToDataLayer({ 'event': 'page_view', 'page_referrer': window.location.href });</script>

{% endblock %}

{% block footer %}
{% include "includes/footer-js-beta.njk" %}
{% endblock %}