{% extends "govuk-prototype-kit/layouts/unbranded.html" %}

{% block pageTitle %}
{{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/header-mobile.njk" %}
{% endblock %}

{% block content %}

<body class="govuk-template__body   pillar--none">

    <div class="govuk-width-container">
        <div class="govuk-phase-banner">
            <p class="govuk-phase-banner__content">
                <strong class="govuk-tag govuk-phase-banner__content__tag ">
                    beta
                </strong>
                <span class="govuk-phase-banner__text">
                    Help us make this service better for you
                    <a href=https://crowncommercial.qualtrics.com/jfe/form/SV_b2hqVz3TYDCxN2u>Give feedback on how we
                        can improve this service.</a>
                </span>
            </p>

        </div>
    </div>




    <div class="govuk-width-container">

        <div class="govuk-breadcrumbs">
            <ol class="govuk-breadcrumbs__list">
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="/">Home</a>
                </li>
                <li class="govuk-breadcrumbs__list-item" aria-current="page">
                    Products and services
                </li>
            </ol>
        </div>

    </div>


    <!-- required wrapper 2 -->
    <main id="main-content" role="main" class="govuk-main-wrapper" data-template="page-templates/landing.php">

        <div class="govuk-width-container">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">

                    <h1 class="govuk-heading-xl page-title page-title--tight">Products and services</h1>

                    <p class="govuk-body-l">We have over 100 commercial agreements for you to choose from, spanning the
                        full range of common goods and services.</p>
                </div>
            </div>
        </div>








        <div class="page-components">


            <div class="component intro_and_description">
                <div class="govuk-width-container">
                    <div class="govuk-grid-row ccs-grid-row--loose">
                        <div class="govuk-grid-column-one-half">


                            <div class="wysiwyg-content intro__content">

                            </div>




                        </div>

                        <div class="govuk-grid-column-one-half">


                        </div>

                    </div>
                </div>
            </div>





















            <div class="component pillars">
                <div class="govuk-width-container">
                    <div class="--greyed-bg">
                        <div class="govuk-grid-row ccs-grid-row--loose">

                            <div class="govuk-grid-column-full">


                                <ul class="card-list govuk-!-margin-top-6 card-pillars card-list--four-on-large">

                                    <li class="card-list__item [ pillar--technology ]">
                                        <div class="card-list__item__wrapper">

                                            <div class="card-list__icon">
                                                <img src="https://assets.crowncommercial.gov.uk/wp-content/uploads/technology.png"
                                                    alt="" role="presentation" />
                                            </div>

                                            <h3 class="govuk-heading-m">Technology</h3>

                                            <div class="wysiwyg-content">
                                                <ul>
                                                    <li>cloud and hosting</li>
                                                    <li>digital capability and delivery</li>
                                                    <li>network services</li>
                                                    <li>software and hardware</li>
                                                    <li>technology services</li>
                                                </ul>
                                                <p><a href="/products-and-services/technology">Find out more about our
                                                        technology agreements.</a></p>
                                            </div>


                                        </div>
                                    </li>
                                    <li class="card-list__item [ pillar--buildings ]">
                                        <div class="card-list__item__wrapper">

                                            <div class="card-list__icon">
                                                <img src="https://assets.crowncommercial.gov.uk/wp-content/uploads/buildings.png"
                                                    alt="" role="presentation" />
                                            </div>

                                            <h3 class="govuk-heading-m">Estates</h3>

                                            <div class="wysiwyg-content">
                                                <ul>
                                                    <li>construction</li>
                                                    <li>energy</li>
                                                    <li>estate support services</li>
                                                    <li>facilities management</li>
                                                </ul>
                                                <p><a href="/products-and-services/estates">Find out more about our
                                                        estates agreements.</a></p>
                                            </div>


                                        </div>
                                    </li>
                                    <li class="card-list__item [ pillar--corporate-solutions ]">
                                        <div class="card-list__item__wrapper">

                                            <div class="card-list__icon">
                                                <img src="https://assets.crowncommercial.gov.uk/wp-content/uploads/corporate_solutions.png"
                                                    alt="" role="presentation" />
                                            </div>

                                            <h3 class="govuk-heading-m">Corporate</h3>

                                            <div class="wysiwyg-content">
                                                <ul>
                                                    <li>financial services</li>
                                                    <li>fleet</li>
                                                    <li>HR and workforce services</li>
                                                    <li>outsourced services</li>
                                                    <li>professional services</li>
                                                    <li>travel, accommodation and venues</li>
                                                </ul>
                                                <p><a href="/products-and-services/corporate">Find out more about our
                                                        corporate agreements.</a></p>
                                            </div>


                                        </div>
                                    </li>

                                </ul>


                            </div>

                        </div>
                    </div>
                </div>
            </div>












            <div class="component subcategories">
                <div class="greyed-bg">

                    <div class="govuk-width-container">

                        <div class="govuk-grid-row ccs-grid-row--loose">

                            <div class="govuk-grid-column-two-thirds">


                                <h2 class="govuk-heading-m intro__heading">Additional services and agreements</h2>

                                <div class="wysiwyg-content subcategories__intro">

                                </div>

                            </div>

                            <div class="govuk-grid-column-full">


                                <ul class="card-list">

                                    <li class="card-list__item">
                                        <div class="card-list__item__wrapper">
                                            <h3 class="govuk-heading-s">Low Value Purchase System</h3>
                                            <div class="wysiwyg-content">
                                                <p><span style="font-weight: 400;">Low cost, low value and uncomplicated
                                                        common goods and services including from Small and Medium-sized
                                                        Enterprises (SME) and Voluntary, Community and Social Enterprise
                                                        (VCSE) suppliers.</span></p>
                                            </div>
                                            <p>
                                                <a href="/agreements/RM6237">
                                                    Find out more about our Low Value Purchase System.
                                                </a>
                                            </p>
                                        </div>
                                    </li>
                                    <li class="card-list__item">
                                        <div class="card-list__item__wrapper">
                                            <h3 class="govuk-heading-s">Aggregation</h3>
                                            <div class="wysiwyg-content">
                                                <p>Our complimentary aggregation service can help you achieve savings
                                                    that would not be possible through individual buying.</p>
                                            </div>
                                            <p>
                                                <a href="/products-and-services/aggregation/">
                                                    Take a look at our aggregation opportunities.
                                                </a>
                                            </p>
                                        </div>
                                    </li>
                                    <li class="card-list__item">
                                        <div class="card-list__item__wrapper">
                                            <h3 class="govuk-heading-s">Tail Spend Solution</h3>
                                            <div class="wysiwyg-content">
                                                <p>For products that are often low volume and low value which
                                                    organisations usually buy to meet a specific, short term need.</p>
                                            </div>
                                            <p>
                                                <a href="/agreements/RM6202">
                                                    Find out more about our Tail Spend Solution.
                                                </a>
                                            </p>
                                        </div>
                                    </li>

                                </ul>


                            </div>

                        </div>
                    </div>
                </div>
            </div>















            <div class="component intro_and_description">
                <div class="govuk-width-container">
                    <div class="govuk-grid-row ccs-grid-row--loose">
                        <div class="govuk-grid-column-one-half">

                            <h2 class="govuk-heading-m intro__heading">Our digital brochure</h2>

                            <div class="wysiwyg-content intro__content">
                                <p>Our new digital brochure is packed full of information to help you get the most from
                                    working with CCS. We’ve brought all of our commercial agreements together along with
                                    guidance on the best ways to buy and advice on how to make sure your buying
                                    decisions are achieving the best possible outcomes for your organisation and the
                                    communities that you serve.</p>

                            </div>


                            <div class="call-to-action--compact">

                                <a href="/downloadable-resource/request/30384/commercial-agreements-digital-brochure"
                                    class="govuk-button">Download our digital brochure</a>


                            </div>


                        </div>

                        <div class="govuk-grid-column-one-half">








                            <figure class="image-wrapper">
                                <picture class="">
                                    <source media="(max-width: 768px)" srcset="">
                                    <source media="(min-width: 1024px)" srcset="">
                                    <source media="(min-width: 1920px)"
                                        srcset="https://assets.crowncommercial.gov.uk/wp-content/uploads/Brochure-front-cover-image-website-landscape.jpg">
                                    <img src="https://assets.crowncommercial.gov.uk/wp-content/uploads/Brochure-front-cover-image-website-landscape.jpg"
                                        role="presentation" class="" loading="lazy"
                                        alt="Front cover of CCS digital brochure which features an image of two women looking down at a laptop smiling">
                                </picture>
                                <figcaption class="intro__caption govuk-!-font-size-16 ccs-secondary-text-color">

                                </figcaption>
                            </figure>





                        </div>

                    </div>
                </div>
            </div>



















            <div class="component feature-news">

                <div class="govuk-width-container">

                    <h2 class="govuk-heading-l">Latest news and guidance</h2>

                    <ol class="featured-news news-listing">
                        <li class="feature-news__item news-listing__item">
                            <picture>
                                <a href="/news/new-workplace-recycling-rules-in-england-what-ccs-suppliers-need-to-know"
                                    aria-hidden="true" class="news-listing__item__image-link" tabindex="-1">

                                    <!--[if IE 9]>
                                <video style="display: none;>
                                                                <![endif]-->
                                    <source media="(max-width: 320px)"
                                        srcset="https://assets.crowncommercial.gov.uk/wp-content/uploads/GettyImages-1357979851-320x213.jpg"
                                        data-srcset="https://assets.crowncommercial.gov.uk/wp-content/uploads/GettyImages-1357979851-320x213.jpg">

                                    <source media="(max-width: 768px)"
                                        srcset="https://assets.crowncommercial.gov.uk/wp-content/uploads/GettyImages-1357979851-640x427.jpg"
                                        data-srcset="https://assets.crowncommercial.gov.uk/wp-content/uploads/GettyImages-1357979851-640x427.jpg">

                                    <source media="(max-width: 1280px)"
                                        srcset="https://assets.crowncommercial.gov.uk/wp-content/uploads/GettyImages-1357979851-1280x853.jpg"
                                        data-srcset="https://assets.crowncommercial.gov.uk/wp-content/uploads/GettyImages-1357979851-1280x853.jpg">
                                    <!--[if IE 9]></video><![endif]-->
                                    <!-- Fallback -->
                                    <img src="https://assets.crowncommercial.gov.uk/wp-content/uploads/GettyImages-1357979851-640x427.jpg"
                                        alt="" role="presentation" aria-hidden="true" tabindex="-1">

                                </a>
                            </picture>

                            <div class="feature-news__item__details news-listing__item__caption">
                                <div class="news-listing-meta">
                                    News and blogs | 7th April 2025
                                </div>
                                <h2 class="news-listing-title">
                                    <a
                                        href="/news/new-workplace-recycling-rules-in-england-what-ccs-suppliers-need-to-know">New
                                        workplace recycling rules in England &#8211; what CCS suppliers need to know</a>
                                </h2>

                                <p class="news-listing-summary">
                                    Did you know new rules on how workplaces in England sort their recycling and waste
                                    came into force on 31 March? Read our guidance to make sure your business is ready.
                                </p>

                                <a
                                    href="/news/new-workplace-recycling-rules-in-england-what-ccs-suppliers-need-to-know">Read
                                    more <span class="visuallyhidden">about New workplace recycling rules in England
                                        &#8211; what CCS suppliers need to know</span></a>

                            </div>
                        </li>
                        <li class="feature-news__item news-listing__item">
                            <picture>
                                <a href="/news/crown-commercial-service-to-showcase-digital-innovation-at-digigov-expo-2025"
                                    aria-hidden="true" class="news-listing__item__image-link" tabindex="-1">

                                    <!--[if IE 9]>
                                <video style="display: none;>
                                                                <![endif]-->
                                    <source media="(max-width: 320px)"
                                        srcset="https://assets.crowncommercial.gov.uk/wp-content/uploads/DigiGovExpo-2025-CCS-320x213.jpg"
                                        data-srcset="https://assets.crowncommercial.gov.uk/wp-content/uploads/DigiGovExpo-2025-CCS-320x213.jpg">

                                    <source media="(max-width: 768px)"
                                        srcset="https://assets.crowncommercial.gov.uk/wp-content/uploads/DigiGovExpo-2025-CCS-640x427.jpg"
                                        data-srcset="https://assets.crowncommercial.gov.uk/wp-content/uploads/DigiGovExpo-2025-CCS-640x427.jpg">

                                    <source media="(max-width: 1280px)"
                                        srcset="https://assets.crowncommercial.gov.uk/wp-content/uploads/DigiGovExpo-2025-CCS-1280x853.jpg"
                                        data-srcset="https://assets.crowncommercial.gov.uk/wp-content/uploads/DigiGovExpo-2025-CCS-1280x853.jpg">
                                    <!--[if IE 9]></video><![endif]-->
                                    <!-- Fallback -->
                                    <img src="https://assets.crowncommercial.gov.uk/wp-content/uploads/DigiGovExpo-2025-CCS-640x427.jpg"
                                        alt="" role="presentation" aria-hidden="true" tabindex="-1">

                                </a>
                            </picture>

                            <div class="feature-news__item__details news-listing__item__caption">
                                <div class="news-listing-meta">
                                    News and blogs | 25th February 2025
                                </div>
                                <h2 class="news-listing-title">
                                    <a
                                        href="/news/crown-commercial-service-to-showcase-digital-innovation-at-digigov-expo-2025">Crown
                                        Commercial Service to showcase digital innovation at DigiGov Expo 2025</a>
                                </h2>

                                <p class="news-listing-summary">
                                    Join us at the ExCel London on the 24 and 25 September 2025 to network and connect
                                    with over 3,000 digital, data, and technology experts from across the public sector.
                                </p>

                                <a
                                    href="/news/crown-commercial-service-to-showcase-digital-innovation-at-digigov-expo-2025">Read
                                    more <span class="visuallyhidden">about Crown Commercial Service to showcase digital
                                        innovation at DigiGov Expo 2025</span></a>

                            </div>
                        </li>
                        <li class="feature-news__item news-listing__item">
                            <picture>
                                <a href="/news/call-for-evaluators-for-our-new-tail-spend-solution" aria-hidden="true"
                                    class="news-listing__item__image-link" tabindex="-1">

                                    <!--[if IE 9]>
                                <video style="display: none;>
                                                                <![endif]-->
                                    <source media="(max-width: 320px)"
                                        srcset="https://assets.crowncommercial.gov.uk/wp-content/uploads/GettyImages-1462211420-320x213.jpg"
                                        data-srcset="https://assets.crowncommercial.gov.uk/wp-content/uploads/GettyImages-1462211420-320x213.jpg">

                                    <source media="(max-width: 768px)"
                                        srcset="https://assets.crowncommercial.gov.uk/wp-content/uploads/GettyImages-1462211420-640x427.jpg"
                                        data-srcset="https://assets.crowncommercial.gov.uk/wp-content/uploads/GettyImages-1462211420-640x427.jpg">

                                    <source media="(max-width: 1280px)"
                                        srcset="https://assets.crowncommercial.gov.uk/wp-content/uploads/GettyImages-1462211420-1280x853.jpg"
                                        data-srcset="https://assets.crowncommercial.gov.uk/wp-content/uploads/GettyImages-1462211420-1280x853.jpg">
                                    <!--[if IE 9]></video><![endif]-->
                                    <!-- Fallback -->
                                    <img src="https://assets.crowncommercial.gov.uk/wp-content/uploads/GettyImages-1462211420-640x427.jpg"
                                        alt="" role="presentation" aria-hidden="true" tabindex="-1">

                                </a>
                            </picture>

                            <div class="feature-news__item__details news-listing__item__caption">
                                <div class="news-listing-meta">
                                    News and blogs | 21st February 2025
                                </div>
                                <h2 class="news-listing-title">
                                    <a href="/news/call-for-evaluators-for-our-new-tail-spend-solution">Call for
                                        evaluators for our new marketplace solution</a>
                                </h2>

                                <p class="news-listing-summary">
                                    Support the development of our new marketplace solution.
                                </p>

                                <a href="/news/call-for-evaluators-for-our-new-tail-spend-solution">Read more <span
                                        class="visuallyhidden">about Call for evaluators for our new marketplace
                                        solution</span></a>

                            </div>
                        </li>
                    </ol>





                    <p><a
                            href=https://www.crowncommercial.gov.uk/news/?&amp;categories=29,188,26,168&amp;products_services=166,121,119,181,118,172,164>Browse
                            all products and services news articles</a></p>

                </div>

            </div>












        </div>



        <div class="govuk-width-container">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <div class="wysiwyg-content">




                    </div>
                </div>
            </div>
        </div>






        </div>
        </div>










        <div class="govuk-width-container">


        </div>


    </main>
    <script>


        document.querySelectorAll('input[name="00Nb0000009IXEg"]').forEach((option) => {
            option.addEventListener("change", function (event) {
                if (event.target.value == "Yes") {
                    setPhoneTextOptional(false);
                } else
                    setPhoneTextOptional(true);
            });
        });

        function setPhoneTextOptional(toggle) {
            if (toggle) {
                document.getElementById("phone-label").textContent = "Telephone number (optional)";
            } else {
                document.getElementById("phone-label").textContent = "Telephone number";
            }
            if (document.getElementById("callback-1").checked) {
                document.getElementById("phone-label").textContent = "Telephone number";
            }
        }
    </script>
    </div>

    <script>pushToDataLayer({ 'event': 'page_view', 'page_referrer': window.location.href });</script>



    {% endblock %}

    {% block footer %}
    {% include "includes/footer-js-beta.njk" %}
    {% endblock %}