<div class="homepage-hero govuk-homepage-hero-full-width"
    style="background: linear-gradient(135deg, #C0D0F0 0%, #C0D0F0 82%, #6699FF 82%, #6699FF 100%); padding-top: 4px; padding-right: 20px;">
    <div class="govuk-hero-homepage-caption-container govuk-hero-margin">
        <div class="govuk-hero-caption" style="padding-left: 100px; padding-right: 40px;">
            <h1 class="govuk-caption-heading" style="color: #333333;">Unlock the power of <br> public procurement</h1>
            <p class="govuk-caption-link" style="color: #333333; margin-bottom: 0"><a
                    href="/information-for-buyers-and-suppliers"
                    style="color: #3366CC; text-decoration: underline;">Learn how we help the UK public <br>sector get
                    better value when buying <br>products and services.</a></p>
        </div>
    </div>

    <div class="homepage-hero-capsule" style="padding-left: 40px;">
        <div class="govuk-homepage-search-forms">
            <div class="govuk-grid-column-one-half">

                <form action="/ccs-home-beta/content-beta" method="GET">
                    <div class="govuk-form-group govuk-form-group--enclosure govuk-form-group--enclosure--homepage govuk-bg-mobile-color"
                        style="border: 3px solid #BBC946;">
                        <div class="govuk-form-group homepage-hero__search-group">
                            <label class="govuk-label" for="agreement_a" style="color: #333333;"><a
                                    href="/ccs-home-beta/search-agreements"
                                    style="color: #3366CC; text-decoration: underline;">Search
                                    agreements</a></label>
                            <input class="govuk-input" id="agreement_a" name="a" type="text">

                            <button class="homepage-hero__search-button" type="submit">
                                <span class="visuallyhidden">Search agreements</span>
                            </button>
                        </div>
                    </div>
                </form>


            </div>
            <div class="govuk-grid-column-one-half">


                <form action="/ccs-home-beta/content-beta" method="GET">

                    <div class="govuk-form-group govuk-form-group--enclosure govuk-form-group--enclosure--homepage govuk-bg-mobile-color search-supp"
                        style="border: 3px solid #BBC946;">
                        <div class="govuk-form-group homepage-hero__search-group">
                            <label class="govuk-label" for="supplier_q" style="color: #333333;"><a href="/suppliers"
                                    style="color: #3366CC; text-decoration: underline;">Search
                                    suppliers</a></label>
                            <input class="govuk-input" id="supplier_q" name="q" type="text">
                            <button class="homepage-hero__search-button">
                                <span class="visuallyhidden">Search suppliers</span>
                            </button>
                        </div>

                    </div>

                </form>

            </div>
        </div>
    </div>
</div>