<div class="homepage-hero govuk-homepage-hero-full-width">
    <div class="govuk-hero-homepage-caption-container">
        <div class="govuk-hero-caption">
            <h1 class="govuk-caption-heading">Unlock the power of <br> AI in public procurement</h1>
            <p class="govuk-caption-link" style="color:white; margin-bottom: 0">
                Use the search bar to find suppliers and agreements, using natural language.</p>
            </p>
        </div>
    </div>

    <div class="homepage-hero-capsule">
        <div class="govuk-homepage-search-forms">
            <div class="govuk-grid-column-full">
                <form action="/new/new-ai" method="GET">
                    <div
                        class="govuk-form-group govuk-form-group--enclosure govuk-form-group--enclosure--homepage govuk-bg-mobile-color">
                        <div class="govuk-form-group homepage-hero__search-group">
                            <label class="govuk-label" for="ai_search">
                                <a href="/new/new-ai">Search using Artificial Intelligence</a>
                            </label>
                            <input class="govuk-input" id="ai_search" name="search-query" type="text"
                                placeholder="Try: 'Find me suppliers who provide cloud services'">
                            <button class="homepage-hero__search-button" type="submit">
                                <span class="visuallyhidden">Search using AI</span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="feedback-container" class="govuk-!-padding-4 govuk-!-margin-top-6"
    style="background-color: #6A99FF; color: #ffffff; margin-left: calc(-50vw + 50%); margin-right: calc(-50vw + 50%); width: 100vw;">
    <div id="feedback-content" style="display: flex; align-items: center; gap: 20px;">
        <h2 class="aside__heading govuk-!-margin-bottom-0 govuk-!-margin-left-9">Help us make this service better for
            you
        </h2>
        <p class="govuk-!-margin-bottom-0" style="color: #ffffff;"><a class="govuk-link"
                style="color: #ffffff; font-weight: 600;" href="/survey">Give feedback on how we can improve this
                service.</a>.</p>
    </div>
</div>