<div class="main-width-container">

    <main id="main-content">


        <div class="apollo-island homepage-apollo-island">
            <div class="govuk-grid-column-full homepage-card-container">

                <div class="homepage-card-wrapper">
                    <div class="govuk-grid-column-one-third card-list__item__wrapper homepage-card-component">
                        <h2 class="govuk-heading-m">
                            How to buy
                        </h2>
                        <p class="govuk-body govuk-!-font-size-17featured">
                            With over 100 commercial agreements, we can help you get better value from products and
                            services. Learn about our buying routes and what you can buy.

                        </p>
                        <p class="govuk-body govuk-!-font-size-17featured">
                            <a
                                href="/information-for-buyers-and-suppliers/help-for-new-buyers-and-suppliers/start-buying">
                                Learn how to buy
                                <span class="visuallyhidden">about How to buy</span>
                            </a>
                        </p>

                    </div>
                    <div
                        class="govuk-grid-column-one-third card-list__item__wrapper homepage-card-component homepage-card-2">

                        <h2 class="govuk-heading-m">
                            How to supply
                        </h2>
                        <p class="govuk-body govuk-!-font-size-17featured">
                            The UK public sector spends billions every year on products and services. Learn how your
                            organisation can benefit from becoming a supplier.
                        </p>
                        <p class="govuk-body govuk-!-font-size-17featured">
                            <a
                                href="https://www.crowncommercial.gov.uk/information-for-buyers-and-suppliers/start-supplying">
                                Learn how to supply
                                <span class="visuallyhidden">about Agreements</span>
                            </a>
                        </p>

                    </div>
                    <div class="govuk-grid-column-one-third card-list__item__wrapper homepage-card-component ">
                        <h2 class="govuk-heading-m">
                            Transforming Public Procurement
                        </h2>
                        <p class="govuk-body govuk-!-font-size-17featured">
                            The Transforming Public Procurement (TPP) programme will change how public procurement in
                            the United Kingdom is regulated.
                        </p>
                        <p class="govuk-body govuk-!-font-size-17featured">
                            <a
                                href="https://www.crowncommercial.gov.uk/information-for-buyers-and-suppliers/transforming-public-procurement">
                                Learn about the TPP programme
                                <span class="visuallyhidden">about Upcoming deals</span>
                            </a>
                        </p>
                    </div>
                </div>

            </div>
        </div>

        <div class="govuk-full-width-container">
            <div class="homepage-lower-components-container">
                <div class="govuk-grid-column-one-half homepage-news-list">

                    <h2 class="govuk-heading-m">Latest news</h2>

                    <ol class="featured-news news-listing homepage-news-listing">
                        <li class="feature-news__item homepage-news-listing-item">
                            <picture>
                                <a href="/news/changes-to-our-agreements-in-august-3" aria-hidden="true"
                                    class="news-listing__item__image-link" tabindex="-1">

                                    <!--[if IE 9]>
                                                    <video style="display: none;>
                                                                                    <![endif]-->
                                    <source media="(max-width: 320px)"
                                        srcset="https://assets.crowncommercial.gov.uk/wp-content/uploads/Hands-Holding-Downloading-Mobile-Phone-with-Coffee-Cup-and-Newspaper-320x213.jpg"
                                        data-srcset="https://assets.crowncommercial.gov.uk/wp-content/uploads/Hands-Holding-Downloading-Mobile-Phone-with-Coffee-Cup-and-Newspaper-320x213.jpg">

                                    <source media="(max-width: 768px)"
                                        srcset="https://assets.crowncommercial.gov.uk/wp-content/uploads/Hands-Holding-Downloading-Mobile-Phone-with-Coffee-Cup-and-Newspaper-640x427.jpg"
                                        data-srcset="https://assets.crowncommercial.gov.uk/wp-content/uploads/Hands-Holding-Downloading-Mobile-Phone-with-Coffee-Cup-and-Newspaper-640x427.jpg">

                                    <!--[if IE 9]></video><![endif]-->
                                    <!-- Fallback -->
                                    <img src="https://assets.crowncommercial.gov.uk/wp-content/uploads/Hands-Holding-Downloading-Mobile-Phone-with-Coffee-Cup-and-Newspaper-640x427.jpg"
                                        alt="Hands Holding Downloading Mobile Phone with Coffee Cup and Newspaper"
                                        role="presentation" aria-hidden="true" tabindex="-1">

                                </a>
                            </picture>

                            <div
                                class="feature-news__item__details news-listing__item__caption home-news-item-truncate">
                                <div class="news-listing-meta">
                                    News and blogs | 10th September 2024
                                </div>
                                <h2 class="news-listing-title homepage-news-title-truncate">
                                    <a href="/news/changes-to-our-agreements-in-august-3">Changes to our agreements in
                                        August</a>
                                </h2>

                                <p class="news-listing-summary homepage-truncate-overflow">A brief summary of the CCS
                                    agreements that expired, extended, or were awarded in August 2024...</p>

                                <a href="/news/changes-to-our-agreements-in-august-3">Read more <span
                                        class="visuallyhidden">about </span></a>

                            </div>
                        </li>
                        <li class="feature-news__item homepage-news-listing-item">
                            <picture>
                                <a href="/news/understanding-current-uk-public-sector-procurement-regulation-how-to-remain-compliant-as-a-contracting-authority-procurement-essentials"
                                    aria-hidden="true" class="news-listing__item__image-link" tabindex="-1">

                                    <!--[if IE 9]>
                                                    <video style="display: none;>
                                                                                    <![endif]-->
                                    <source media="(max-width: 320px)"
                                        srcset="https://assets.crowncommercial.gov.uk/wp-content/uploads/CCS-AddedValue-ProcurementEssentials-960x540-static-no-logo-230707-01-320x213.jpg"
                                        data-srcset="https://assets.crowncommercial.gov.uk/wp-content/uploads/CCS-AddedValue-ProcurementEssentials-960x540-static-no-logo-230707-01-320x213.jpg">

                                    <source media="(max-width: 768px)"
                                        srcset="https://assets.crowncommercial.gov.uk/wp-content/uploads/CCS-AddedValue-ProcurementEssentials-960x540-static-no-logo-230707-01-640x427.jpg"
                                        data-srcset="https://assets.crowncommercial.gov.uk/wp-content/uploads/CCS-AddedValue-ProcurementEssentials-960x540-static-no-logo-230707-01-640x427.jpg">

                                    <!--[if IE 9]></video><![endif]-->
                                    <!-- Fallback -->
                                    <img src="https://assets.crowncommercial.gov.uk/wp-content/uploads/CCS-AddedValue-ProcurementEssentials-960x540-static-no-logo-230707-01-640x427.jpg"
                                        alt="How your buying decisions have the power to help put an end to modern slavery"
                                        role="presentation" aria-hidden="true" tabindex="-1">

                                </a>
                            </picture>

                            <div
                                class="feature-news__item__details news-listing__item__caption home-news-item-truncate">
                                <div class="news-listing-meta">
                                    Procurement Essentials | 30th August 2024
                                </div>
                                <h2 class="news-listing-title homepage-news-title-truncate">
                                    <a
                                        href="/news/understanding-current-uk-public-sector-procurement-regulation-how-to-remain-compliant-as-a-contracting-authority-procurement-essentials">Understanding
                                        current UK public sector procu...</a>
                                </h2>

                                <p class="news-listing-summary homepage-truncate-overflow">We know that public sector
                                    procurement can be complex, and compliance with the regulations i...</p>

                                <a
                                    href="/news/understanding-current-uk-public-sector-procurement-regulation-how-to-remain-compliant-as-a-contracting-authority-procurement-essentials">Read
                                    more <span class="visuallyhidden">about </span></a>

                            </div>
                        </li>
                    </ol>
                </div>
                <div class="govuk-grid-column-one-half homepage-campaign-box">
                    <div class="homepage-campaign-box-content">
                        <h2 class="govuk-heading-xl">Digital brochure 2024-2025: Your buying decisions can make a
                            difference</h2>

                        <p>Discover procurement guidance, customer case studies and how to access our agreements</p>

                        <a class="govuk-button govuk-caption-button"
                            href="downloadable-resource/request/30384/commercial-agreements-digital-brochure">Download
                            our digital brochure</a>
                    </div>
                </div>
            </div>

            <p class="homepage-lower-components-container"><a href="/news">Browse all news articles</a></p>

        </div>
        <div class="glossary-box-container">
            <div class="glossary-box-background"></div>
            <div class="glossary-box">
                <h3 class="govuk-heading-m">Glossary</h3>
                <p>We understand procurement can be confusing. Use our glossary to learn about common public procurement
                    terms and abbreviations.</p>
                <p><a href="/glossary">Read the glossary</a></p>
            </div>
        </div>
    </main>
</div>