<ol class="events-list">
    <li class="event-list__item">
        <picture><!----></picture>
        <div class="event-list__details">
            <h3 class="event-list__title govuk-!-margin-bottom-2"><a
                    href="https://www.crowncommercial.gov.uk/events/71069/event-dprte-2025">Event: DPRTE 2025</a></h3>
            <ul class="event-list__meta list--inline govuk-body-s govuk-!-margin-bottom-2">
                <li><strong>Start Date:</strong> 26 March 2025 </li>
                <li><strong>End Date:</strong> 27 March 2025 </li>
                <li><strong>Type:</strong> Conference and exhibition</li>
            </ul>
        </div>
    </li>
    <li class="event-list__item">
        <picture><!----></picture>
        <div class="event-list__details">
            <h3 class="event-list__title govuk-!-margin-bottom-2"><a
                    href="https://www.crowncommercial.gov.uk/events/71718/legal-panel-for-public-sector-rm6374-supplier-engagement-event">Legal
                    Panel for Public Sector RM6374 Supplier Engagement Event</a></h3>
            <ul class="event-list__meta list--inline govuk-body-s govuk-!-margin-bottom-2">
                <li><strong>Date:</strong> 1 April 2025 </li>
                <li><strong>Type:</strong> Engagement</li>
            </ul>
        </div>
    </li>
    <li class="event-list__item">
        <picture><!----></picture>
        <div class="event-list__details">
            <h3 class="event-list__title govuk-!-margin-bottom-2"><a
                    href="https://www.crowncommercial.gov.uk/events/74410/event-p4h-scotland-2">Event: P4H Scotland</a>
            </h3>
            <ul class="event-list__meta list--inline govuk-body-s govuk-!-margin-bottom-2">
                <li><strong>Date:</strong> 2 April 2025 </li>
                <li><strong>Type:</strong> Conference and exhibition</li>
            </ul>
        </div>
    </li>
    <li class="event-list__item">
        <picture><!----></picture>
        <div class="event-list__details">
            <h3 class="event-list__title govuk-!-margin-bottom-2"><a
                    href="https://www.crowncommercial.gov.uk/events/67741/webinar-g-cloud-14-what-can-i-buy-and-how-can-i-buy-it-6">Webinar:
                    G-Cloud 14 – what can I buy and how can I buy it?</a></h3>
            <ul class="event-list__meta list--inline govuk-body-s govuk-!-margin-bottom-2">
                <li><strong>Date:</strong> 2 April 2025 </li>
                <li><strong>Type:</strong> Live webinar</li>
            </ul>
        </div>
    </li>
    <li class="event-list__item">
        <picture><!----></picture>
        <div class="event-list__details">
            <h3 class="event-list__title govuk-!-margin-bottom-2"><a
                    href="https://www.crowncommercial.gov.uk/events/73324/achieving-best-value-through-early-contractor-involvement-procurement-routes-and-benefits">Webinar:
                    Achieving best value through early contractor involvement – procurement routes and benefits</a></h3>
            <ul class="event-list__meta list--inline govuk-body-s govuk-!-margin-bottom-2">
                <li><strong>Date:</strong> 3 April 2025 </li>
                <li><strong>Type:</strong> Live webinar</li>
            </ul>
        </div>
    </li>
    <li class="event-list__item">
        <picture><!----></picture>
        <div class="event-list__details">
            <h3 class="event-list__title govuk-!-margin-bottom-2"><a
                    href="https://www.crowncommercial.gov.uk/events/67138/aggregation-microsoft-autumn-winter-2025">Aggregation:
                    Microsoft, autumn/winter 2025</a></h3>
            <ul class="event-list__meta list--inline govuk-body-s govuk-!-margin-bottom-2">
                <li><strong>Date:</strong> 4 April 2025 </li>
                <li><strong>Type:</strong> Aggregation</li>
            </ul>
        </div>
    </li>
    <li class="event-list__item">
        <picture><!----></picture>
        <div class="event-list__details">
            <h3 class="event-list__title govuk-!-margin-bottom-2"><a
                    href="https://www.crowncommercial.gov.uk/events/74241/webinar-biodiversity-and-net-zero-understanding-bng-legislation-and-ccs-solutions">Webinar:
                    Biodiversity and Net Zero: Understanding BNG, Legislation, and CCS Solutions</a></h3>
            <ul class="event-list__meta list--inline govuk-body-s govuk-!-margin-bottom-2">
                <li><strong>Date:</strong> 15 April 2025 </li>
                <li><strong>Type:</strong> Live webinar</li>
            </ul>
        </div>
    </li>
    <li class="event-list__item">
        <picture><!----></picture>
        <div class="event-list__details">
            <h3 class="event-list__title govuk-!-margin-bottom-2"><a
                    href="https://www.crowncommercial.gov.uk/events/74376/customer-carbon-reduction-plans">Webinar:
                    Carbon Reduction Plans</a></h3>
            <ul class="event-list__meta list--inline govuk-body-s govuk-!-margin-bottom-2">
                <li><strong>Date:</strong> 16 April 2025 </li>
                <li><strong>Type:</strong> Live webinar</li>
            </ul>
        </div>
    </li>
    <li class="event-list__item">
        <picture><!----></picture>
        <div class="event-list__details">
            <h3 class="event-list__title govuk-!-margin-bottom-2"><a
                    href="https://www.crowncommercial.gov.uk/events/74522/supplier-showcase-innovation-ai">Supplier
                    Showcase: Innovation &amp; AI</a></h3>
            <ul class="event-list__meta list--inline govuk-body-s govuk-!-margin-bottom-2">
                <li><strong>Date:</strong> 16 April 2025 </li>
                <li><strong>Type:</strong> Live webinar</li>
            </ul>
        </div>
    </li>
    <li class="event-list__item">
        <picture><!----></picture>
        <div class="event-list__details">
            <h3 class="event-list__title govuk-!-margin-bottom-2"><a
                    href="https://www.crowncommercial.gov.uk/events/68698/technology-products-and-services-2-buyer-webinar-2">Technology
                    Products and Services 2 buyer webinar</a></h3>
            <ul class="event-list__meta list--inline govuk-body-s govuk-!-margin-bottom-2">
                <li><strong>Date:</strong> 22 April 2025 </li>
                <li><strong>Type:</strong> Live webinar</li>
            </ul>
        </div>
    </li>
</ol>