{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
          Prototype
        </strong>
        <span class="govuk-phase-banner__text">
          This is a Prototype. For testing with users. Not a real service.
        </span>
      </p>
    </div>

    <h1 class="govuk-heading-xl govuk-!-margin-top-9">
      Version 3
    </h1>

    <h2 class="govuk-heading-m">
      AI Search
    </h2>

    <p class="govuk-body">
      This is the new AI search page work in progress. The rest of the links are links to older completed work, and or
      work not yet started.
    </p>

    <div class="govuk-grid-column-three-quarters">
      <ul class="govuk-task-list">

        <!-- New Tasks -->
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="/new/index" aria-describedby="task-list-1-status">
              Landing page with AI search bar
            </a>
          </div>
          <div class="govuk-task-list__status" id="task-list-1-status">
            <strong class="govuk-tag govuk-tag--blue">
              New
            </strong>
          </div>
        </li>
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="/new/ai-search" aria-describedby="task-list-2-status">
              AI dedicated page
            </a>
          </div>
          <div class="govuk-task-list__status" id="task-list-2-status">
            <strong class="govuk-tag govuk-tag--blue">
              New
            </strong>
          </div>
        </li>
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="/new/events-search" aria-describedby="task-list-2-status">
              Events search page
            </a>
          </div>
          <div class="govuk-task-list__status" id="task-list-3-status">
            <strong class="govuk-tag govuk-tag--blue">
              New
            </strong>
          </div>
        </li>

        <!-- Finished Tasks -->
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="/new/survey-link" aria-describedby="task-list-4-status">
              Survey link page Alpha
            </a>
            <div class="govuk-hint">
              Page containing a variation of link to the long form survey page
            </div>
          </div>
          <div class="govuk-task-list__status" id="task-list-4-status">
            <strong class="govuk-tag govuk-tag--green">
              Finished
            </strong>
          </div>
        </li>
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="ccs-home-beta/survey-link"
              aria-describedby="task-list-3-hint task-list-3-status">
              Survey link page Beta
            </a>
            <div class="govuk-hint">
              Page containing a variation of link to the long form survey page
            </div>
          </div>
          <div class="govuk-task-list__status" id="task-list-6-status">
            <strong class="govuk-tag govuk-tag--green">
              Finished
            </strong>
          </div>
        </li>
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="/new/survey-link-bottom"
              aria-describedby="task-list-5-status">
              Survey link bottom section
            </a>
            <div class="govuk-hint">
              Additional survey link variant page
            </div>
          </div>
          <div class="govuk-task-list__status" id="task-list-5-status">
            <strong class="govuk-tag govuk-tag--green">
              Finished
            </strong>
          </div>
        </li>
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="/new/survey-link-dos"
              aria-describedby="task-list-6-status">
              Digital Outcomes and Specialists survey
            </a>
            <div class="govuk-hint">
              DOS-specific using the new template plus the new survey page link
            </div>
          </div>
          <div class="govuk-task-list__status" id="task-list-6-status">
            <strong class="govuk-tag govuk-tag--green">
              Finished
            </strong>
          </div>
        </li>
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="/new/text" aria-describedby="task-list-7-status">
              Text magnification page
            </a>
            <div class="govuk-hint">
              Radio button for font size change
            </div>
          </div>
          <div class="govuk-task-list__status" id="task-list-7-status">
            <strong class="govuk-tag govuk-tag--green">
              Finished
            </strong>
          </div>
        </li>


        <!-- Paused Tasks -->

        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="/ccs-home-beta/mcf-new"
              aria-describedby="task-list-6-status">
              Agreement accordion improvements
            </a>
          </div>
          <div class="govuk-task-list__status" id="task-list-6-status">
            <strong class="govuk-tag govuk-tag--yellow">
              Waiting on
            </strong>
          </div>
        </li>

        <!-- Not Started Tasks -->

        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="task-list-7-status">
              Search page improvements
            </a>
          </div>
          <div class="govuk-task-list__status" id="task-list-7-status">
            <strong class="govuk-tag govuk-tag--grey">
              Not started yet
            </strong>
          </div>


        </li>
      </ul>
    </div>

  </div>
</div>

{% endblock %}