{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">



    <h1 class="govuk-heading-xl govuk-!-margin-top-9">
      Version 1
    </h1>

    <h2 class="govuk-heading-m">
      User research links
    </h2>

    <div class="govuk-grid-column-three-quarters">
      <ul class="govuk-task-list">
        <!-- Completed Tasks -->
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="/ccs-home/" aria-describedby="task-list-1-status">
              On page feedback Alpha version
            </a>
          </div>
          <div class="govuk-task-list__status" id="task-list-1-status">
            Completed
          </div>
        </li>
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="/ccs-home/content-beta"
              aria-describedby="task-list-2-status">
              On page feedback Beta version
            </a>
          </div>
          <div class="govuk-task-list__status" id="task-list-2-status">
            Completed
          </div>
        </li>
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="/ccs-home/feedback" aria-describedby="task-list-5-status">
              Star rating feedback
            </a>
          </div>
          <div class="govuk-task-list__status" id="task-list-5-status">
            Completed
          </div>
        </li>

        <!-- In Progress Tasks -->
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="task-list-3-hint task-list-3-status">
              Long form survey
            </a>
          </div>
          <div class="govuk-task-list__status" id="task-list-3-status">
            <strong class="govuk-tag govuk-tag--blue">
              In progress
            </strong>
          </div>
        </li>
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="task-list-6-status">
              Agreement accordion improvements
            </a>
          </div>
          <div class="govuk-task-list__status" id="task-list-6-status">
            <strong class="govuk-tag govuk-tag--blue">
              In progress
            </strong>
          </div>
        </li>

        <!-- Not Started Tasks -->
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="task-list-4-status">
              Landing page dual split
            </a>
          </div>
          <div class="govuk-task-list__status" id="task-list-4-status">
            <strong class="govuk-tag govuk-tag--grey">
              Not started yet
            </strong>
          </div>
        </li>
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="task-list-7-status">
              Search page improvements
            </a>
          </div>
          <div class="govuk-task-list__status" id="task-list-7-status">
            <strong class="govuk-tag govuk-tag--grey">
              Not started yet
            </strong>
          </div>
        </li>
      </ul>
    </div>

  </div>
</div>

{% endblock %}